<a href="https://colab.research.google.com/github/mounicasatraboina/mounicasatraboina_2021/blob/main/mounica_in_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#length of the string
P= input(" Enter a String: ")
print(len(P))

 Enter a String: python
6

In [ ]:
 #count the number of characters in a string
 def char_count(str1):
    str = {}
    for num in str1:
        k = str.keys()
        if num in k:
            str[num] += 1
        else:
            str[num] = 1
    return str
print(char_count('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
#sum all the items in a list
mylist=[1, 2, 3, 4, 5]
total= sum(mylist)
print("sum of all the items in a list:", total)

sum of all the items in a list: 15

In [ ]:
#program to get a string from a given string where all occurrences of its first char have been changed to '$', except the first char itself
strings=input("Enter a String: ")
count=strings[0]
mod=strings.replace(count,'$')
mod=count+mod[1:]
print(mod)

Enter a String: restart
resta$t

In [ ]:
#program with python which could accept two parameter a and b to calculate and output the result of S, where S=3.14âˆ—(1+a/b)3  (4 points)
 
a,b = map(int, input().split(","))
S=3.14*(1+a/b)**3
print(S)

1,3
7.4429629629629614

In [ ]:
# program to concatenate following dictionaries to create a new one. 
p1={'1':10,'2':20}
p2={'3':30,'4':40}
p3={'5':50,'6':60}
p4={}
for d in (p1,p2,p3):
    p4.update(d)
print("The result is :",end=" ");
print(p4)

The result is : {'1': 10, '2': 20, '3': 30, '4': 40, '5': 50, '6': 60}

In [40]:
#program to check whether an element exists within a tuple.
mytuple=(5,10,15,20)
p=int(input("Enter the item"))
i=mytuple.count(p)
if i==1:
  print("Item exists in the tuple")
else:
  print("Item doesn't exist in the tuple")

Enter the item10
Item exists in the tuple

In [ ]:
#program to find maximum and the minimum value in a set.
p=[1200,20,50,90]
l=len(p)
min=p[0]
max=p[0]
for i in range(0,l):
  if p[i]>max:
    max=p[i]
  if p[i]<min:
    min=p[i]
print("The minimum value in the set is:")
print(min)
print("The maximum value in the set  is:")
print(max)

The minimum value in the set is:
20
The maximum value in the set  is:
1200

In [43]:
import random
contestants=['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
set=1
freshmenInGroup=6

for participant in contestants[:]:               # only modification
    if freshmenInGroup==6:
        print("set {} contains ;".format(set))
        freshmenInGroup=0
        set+=1
    person=random.choice(contestants)
    print(person)
    freshmenInGroup+=1
    contestants.remove(str(person))

set 1 contains ;
nm0547
at0768
rs0850
msp0174
pn0159
dd0420
set 2 contains ;
ds0761
rrk0058
at0739
pc0353
mv0299
spk0057
set 3 contains ;
tv0119
rak0120
vmb0067
ss1995
vl0135
bk0301
set 4 contains ;
sg0940
snd0097
yye0005
dy0091

In [ ]:
def find_duplicate(elements):
    num_set = set()
    no_duplicate = -1

    for i in range(len(elements)):
        if elements[i] in num_set:
            return elements[i]
        else:
            num_set.add(elements[i])

    return no_duplicate

print(find_duplicate([7,8,8,9,12]))
print(find_duplicate([12,16,9,9]))
print(find_duplicate([15,16,17,18,1]))

8
9
-1

In [39]:
from datetime import date, timedelta

def every_sundays(year):
    p = date(year, 1, 1)
    p += timedelta(days = 6 - p.weekday())  
    while p.year == year:
          yield p
          p += timedelta(days = 7)
for sunday in every_sundays(2020):
   print(sunday)

2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
2020-03-08
2020-03-15
2020-03-22
2020-03-29
2020-04-05
2020-04-12
2020-04-19
2020-04-26
2020-05-03
2020-05-10
2020-05-17
2020-05-24
2020-05-31
2020-06-07
2020-06-14
2020-06-21
2020-06-28
2020-07-05
2020-07-12
2020-07-19
2020-07-26
2020-08-02
2020-08-09
2020-08-16
2020-08-23
2020-08-30
2020-09-06
2020-09-13
2020-09-20
2020-09-27
2020-10-04
2020-10-11
2020-10-18
2020-10-25
2020-11-01
2020-11-08
2020-11-15
2020-11-22
2020-11-29
2020-12-06
2020-12-13
2020-12-20
2020-12-27